# /lib/systemd/system
[Unit]
Description=MQTT2Zabbix
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/usr/local/bin/MQTT2Zabbix
ExecStart=/usr/bin/python3 MQTT2Zabbix/Mqtt2Zabbix.py
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
